*{
    background-color: black;
}

body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}  

img {
    border: 5px solid white;
    margin-top:  40px;;
}   